#evilButton {
    position: absolute;
    white-space: nowrap;
    font-size: 2rem
}

#bodyButton {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
        background: #202028;
        color: #fff;
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
      }

p1 {
        margin: auto;
        color: yellow;
        font-size: x-large;
        font-family: "Courier New";
      }

   .f-size17 {
         margin: auto;
        color: white;
        font-size: medium;
        font-family: "Courier New";;
   }
